body {
  font-family: verdana;
  font-size: 20px;
  background-color: #eaeaec;
}

#a {
    width: 1000px;
    margin: 0 auto;
}

#sidebar {
  float:left;
}

#sidebar1 {
  height: 250px;
  width: 200px;
  background-color: #00C5CD;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
}

#sidebar2 {
  height: 250px;
  width: 200px;
  margin-top: 10px;
  background-color: #00C5CD;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
}

#player1 {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #00C5CD;
}

.score1{
  text-align: center;
  color: white;
}

#player2 {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #00C5CD;
}

.score2{
  text-align: center;
  color: white;
}

#heading {
  text-align: center;
  background-color: #FFB14C;
  padding: .5em;
  margin: 0 auto;
}

#container {
  border-radius: 10px;
  background-color: #00C5CD;
  width: 740px;
  margin-left: 10px;
  float: left;
  padding: .5em;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
}

button {
    background-color: white;
    border: none;
    color: #00C5CD;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  padding 10px;
  border-radius: 10px;
  color: #00C5CD;
}

.wrapper > div{
  padding: .5em;
}
