html{
  height: 100%;
}

body {
  font-family: verdana;
  font-size: 20px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-color: #cfd6d6;
  background: -webkit-linear-gradient(#cfd6d6 , #a0bbbc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cfd6d6, #a0bbbc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cfd6d6, #a0bbbc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cfd6d6 , #a0bbbc); /* Standard syntax */
  color: white;
}

#a {
    width: 1000px;
    margin: 0 auto;
}

.howto {
  border-radius: 10px;
  background-color: #7fa3a5;
  width: 970px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
}

#head {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #7fa3a5;
}

#small {
  font-size: 16px;
}

#sidebar {
  float:left;
}

#sidebar1 {
  height: 250px;
  width: 200px;
  background-color: #7fa3a5;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
}

#sidebar1:hover {
  background-color: #7F8C8D;
  color: white;
}

#sidebar2 {
  height: 250px;
  width: 200px;
  margin-top: 10px;
  background-color: #7fa3a5;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
}

#sidebar2:hover {
  background-color: #7F8C8D;
  color: white;
}

#player1 {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #7fa3a5;
}

.score1{
  text-align: center;
  color: white;
}

#player2 {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #7fa3a5;
}

.score2{
  text-align: center;
  color: white;
}

#heading {
  background-color: #7fa3a5;
  padding: 0;
  margin: 0 auto;
}

.logo {
  max-height: 50px;
  display: block;
  padding: .5em;
  margin: 0 auto;
}

#container {
  border-radius: 10px;
  background-color: #7fa3a5;
  width: 740px;
  min-height: 490px;
  margin-left: 10px;
  float: left;
  padding: .5em;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
}

.inline {
  float: left;
  margin-left: 133px;
}

.inline2 {
  float: left;
  margin: 0 auto;
}

button {
    background-color: white;
    border: none;
    color: #7fa3a5;
    cursor: pointer;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

button:hover {
  background-color: #7F8C8D;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  padding 10px;
  border-radius: 10px;
  color: #7fa3a5;
}

.winnerout {
  padding: 5px;
  color: #feb13d;
}

.wrapper > div{
  padding: .5em;
}

#radio-demo {
  max-width:200px;
  margin: 0 auto;
}

#radio-demo input[type="radio"] {
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
}

#radio-demo input[type="radio"] + label {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 20px;
  line-height: 25px;
  margin:0 0 10px 0;
}

#radio-demo input[type="radio"] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  height: 16px;
  width: 16px;
  background: white;
  border: 4px solid white;
  -webkit-border-radius: 14px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

#radio-demo input[type="radio"]:checked + label:before {
  background: #7fa3a5;
}

.ans {
  font-weight: bold;
}

footer {
  border-radius: 10px;
  background-color: #7fa3a5;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0px;
  float: left;
  padding: .5em;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
}
