#app
{
   background-color: ##ffcc99;
   background: -webkit-linear-gradient(top, ##ffcc99, #ff6600);
   background: -moz-linear-gradient(top, ##ffcc99, #ff6600);
   background: -ms-linear-gradient(top, ##ffcc99, #ff6600);
   background: linear-gradient(top, ##ffcc99, #ff6600);
}
#app>header,
#app>footer
{
   background-color: #ff6600;
}
