#app
{
   background-color: #ffd1b3;
   background: -webkit-linear-gradient(top, #ffd1b3, #ff751a);
   background: -moz-linear-gradient(top, #ffd1b3, #ff751a);
   background: -ms-linear-gradient(top, #ffd1b3, #ff751a);
   background: linear-gradient(top, #ffd1b3, #ff751a);
}
#app>header,
#app>footer
{
   background-color: #e65c00;
}
