#app {
  background-image: url("../images/giphy.gif");
}

#main {
  max-width: 35em;
  min-width: 15em;
  margin: 1em auto;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-top: 3em;
  border-radius: 15px;
  background-color: #ff4d4d;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.6);

  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-iteration-count: 2;
}


@-webkit-keyframes example {
  0%   {background-color:#ff4d4d; left:0px; top:0px;}
  25%  {background-color:yellow; left:0; top:300px;}
  50%  {background-color:lightblue; left:0; top:0;}
  75%  {background-color:lightgreen; left:0px; top:300px;}
  100% {background-color:#ff4d4d; left:0px; top:0px;}
}

@keyframes example {
  0%   {background-color:#ff4d4d; left:0px; top:0px;}
  25%  {background-color:yellow; left:0px; top:300px;}
  50%  {background-color:lightblue; left:0px; top:0px;}
  75%  {background-color:lightgreen; left:0px; top:300px;}
  100% {background-color:#ff4d4d; left:0px; top:0px;}
}

#app>header,
#app>footer
{
   background-color: #ff5c33;
   -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
   animation-iteration-count: 100;
}

@-webkit-keyframes example2 {
  0%   {background-color:#ff5c33;}
  25%  {background-color:#00ccff;}
  50%  {background-color:#9933ff;}
  75%  {background-color:#cc0066; }
  100% {background-color:#339933;}
}

@keyframes example2 {
  0%   {background-color:#ff5c33;}
  25%  {background-color:#00ccff;}
  50%  {background-color:#9933ff;}
  75%  {background-color:#cc0066; }
  100% {background-color:#339933;}
}
